@using ClientePrueba.Model
<!DOCTYPE html>
<html lang="en">
    @inject HttpClient Http

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ClientePrueba.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
@code{
    private void solicitud()
    {
        var tabla = Http.GetFromJsonAsync<Product[]>("https://localhost:7182/api/Products");
    }
    

}
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
   
</body>

</html>
