@page "/component"
@using ClientePrueba.Model
<h3>Component</h3>
<EditForm FormName="addProduct5" Model="productAdd5" OnSubmit="enviar">

          <InputText id="name" class="form-control" @bind-Value="productAdd5.Name" @formname="addProduct5" />
                <InputNumber id="Stock" class="form-control" @bind-Value="productAdd5.Stock" @formname="addProduct5"/>
                <InputCheckbox id="Status" class="form-check_input" @bind-Value="productAdd5.Status" @formname="addProduct5"/>
        <input type="submit" value="Submit" class="btn btn-primary" @formname="addProduct5" />
    </EditForm>
<h1>@productAdd5.Name</h1>
@code {
    private ProductDTO productAdd5 { get; set; } = new ProductDTO();
    private void enviar()
    {
        string nombre = productAdd5.Name;
    }


}
