@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AspMVCPrueba.Models.ProductModel>
<form action="envioPost">

    <input type="text" class="form-control" id="nombre" placeholder="Nombre" asp-controller="Name" name="Name">
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Stock" name="Stock">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Status">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Status</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td><Input type="text" id="name" class="form-control" asp-controller="Name" value="@product.Name" /></td>
                <td><Input type="number" id="Stock" class="form-control" value="@product.Stock" /></td>
                <td><Input type="checkbox" id="Status" class="form-check_input" value="@product.Status" /></td>
                <td>@Html.ActionLink("Editar", "EditProduct", new { id = product.ProductId })</td>
                
            </tr>
        }
    </tbody>
</table>

